@import '~bulma/bulma.sass';

.details-component {
  .entries {
    .entry {
      cursor: pointer;

      &.is-weekend {
        background-color: #f5f5f5;

        &:hover {
          background-color: $table-row-hover-background-color;
        }
      }
    }
  }
}
