@import '~bulma/bulma.sass';

.dashboard-component {
  .resume {
    display: flex !important;

    .column {
      &:first-child {
        text-align: right;
      }
      &:last-child {
        p {
          padding-left: 1rem;
        }
      }

      p {
        font-size: 1.7rem;
        color: $text;

        @media screen and (max-width: $tablet) {
          font-size: 1.3rem;
        }

        &.is-negative {
          color: $red;
        }

        &.is-positive {
          color: $turquoise;
        }
      }
    }
  }
}
