@import '~bulma/bulma.sass';

.dashboard-component {
  .resume {
    display: flex !important;

    .column {
      &:first-child {
        text-align: right;
      }
      &:last-child {
        p {
          padding-left: 1rem;
        }
      }
    }
  }
}
