.login-component {
  form.login {
    .control.actions {
      text-align: center;
    }

    .login-error {
      padding: 0.5rem;
    }
  }

  .register-link {
    .icon i {
      font-size: 1rem;
    }
  }
}
