@import '~bulma/bulma.sass';

.balance-component {
  font-size: 1.1rem;
  color: $text;

  // @media screen and (max-width: $tablet) {
  //   font-size: 1.3rem;
  // }

  &.is-negative {
    color: $red;
  }

  &.is-positive {
    color: $turquoise;
  }
}
