@import '~bulma/bulma.sass';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > main {
    flex: 1;
  }
}

.is-very-large {
  font-size: 2rem !important;
}

h1.title {
  @media screen and (max-width: $tablet) {
    font-size: 1.5rem !important;

    .icon i {
      font-size: 1.5rem !important;
    }
  }
}
